

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}


button {
  padding: 0.2rem;
}

#menu-container {
  margin: 1rem;

}

#project-page-link {
  
}

#dots-to-generate {
  width: 3rem;
}