

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

button {
  padding: 0.2rem;
}

#menu-container {
  margin: 1rem;

}

#dots-to-generate {
  width: 3rem;
}